html,
body {
    display: block;
}

@media screen and (min-width: 601px) {
    .header__inner {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    }

    .header__logo {
        margin-top: 15px;
    }

    .main section {
    max-width: 700px;
    }

    .center__cover {
    height: 400px;
    }
}

@media screen and (max-width: 600px) {
    h1.header__title {
        font-size: 16px;
    }

    h4.header__title {
        font-size: 14px;
    }

    div.header__inner {
        width: calc(100% - 60px);
    }

    .header__logo {
        margin: 0px;
    }

    .nav a {
    padding: 0px;
    }

    .main section {
        width: 100%;
    }

    .center__cover {
        height: 300px;
    }

    .center__cover article {
    font-size: 0.7em;
    }

    div.project__inner {
        width: 100%;
        margin-right: 0px;
    }

}